/*contacto*/
@mixin colores{
  background-color: rgb(184, 127, 89);
  border-color:  rgb(153, 61, 1);
}

.backcontacto{
    background-image: url(../Fondos/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-auto-rows: repeat (4, auto);
    grid-template-areas: 
    ". logo ."
    ". header ."
    ". containerform ."
    "footer . ."
}
.containerform{
  grid-area: containerform;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 30% 50% 10%;
  grid-template-areas:
  ". . ."
  ". form ."
  ". . .";
}
.form{
  grid-area: form;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
}
.send{
  @include colores;
  padding: 7px;
  border-radius: 5px;
  &:hover{
  background-color: rgb(198, 124, 63);
  box-shadow: 3px 4px 6px white;
  text-shadow: 0 0 0;
  }
}
