/*tienda*/
.backtienda{
    background-image: url(../Fondos/fondotienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-auto-rows: auto auto auto auto;
    grid-template-areas: 
    ". logo ."
    ". header ."
    ". selectcarousel ."
    "footer . ."
}

.ul>li{
  padding: 5px;
}
.selectcarousel{
  grid-area: selectcarousel;
  display: flex;
  max-width: 30%;
  margin-left: 550px;
  padding-top: 50px;
}

@media screen and (max-width: 1000px) {
  .selectcarousel{
    margin-left: 300px;
    max-width: 30%;
  }
}
@media screen and (max-width: 800px){
  .selectcarousel{
    margin-left: 200px;
    max-width: 30%;
  }
}